<h1><%= @song.title %></h1>
<ul>
  <li><%= link_to "Edit", edit_song_path(@song) %></li>
  <li><%= link_to "Delete", song_path(@song), method: "delete" %></li>
  <li><%= link_to "Back to #{@song.artist.name}", artist_path(@song.artist) %></li>
</ul>
